@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Google API</h1>
    <p class="lead">Sample MVC application to show Google Api.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Distance Matrix API</h2>
        <p>The Google Distance Matrix API makes it easy to search for the distance between one or more places.</p>
        <p>@Html.ActionLink("Distance Matrix", "Index", "Distance Matrix")</p>
    </div>
    <div class="col-md-4">
        <h2>Request History</h2>
        <p>You can view a list of previous search requests. These requests are held in-memory and the requests can be replayed through this web application.</p>
        <p>@Html.ActionLink("Request History", "Index", "RequestHistory")</p>
    </div>
</div>