<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="C:\Logs\application.log" />
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date %level %logger - %message%newline" />
        </layout>
      </appender>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="C:\Logs\rolling.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
      </appender>
    </root>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Directions_ApiKey" value="AIzaSyDZOqNzzDPxDeXZuYpnCk6xuwSHVfkJGds" />
    <add key="DistanceMatrix_ApiKey" value="AIzaSyDA_nYjDQYKHNDMIE3HpRXtxDOU-Cpuqnc" />
    <add key="Elevation_ApiKey" value="AIzaSyDpD_Pg4DvtWkqVl-73I0UC68jAzL0xKuQ" />
    <add key="Timezone_ApiKey" value="AIzaSyAjsAE4p8YGD6u2BwAshpQbWlmZ2-iJB8E" />
    <add key="Geocode_ApiKey" value="AIzaSyA91xV-o11pgo4daTEdguFZq0Hym0xIA7w" />
    <add key="Geolocation_ApiKey" value="AIzaSyCHflhzlkdVm1d-t9e_ZWlA5iJ29gWW8a8" />
    <add key="BaseUrl" value="http://maps.googleapis.com/maps/api" />
    <add key="UseSSL" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>