<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="AIzaSyDA_nYjDQYKHNDMIE3HpRXtxDOU-Cpuqnc" />
    <add key="BaseUrl" value="maps.googleapis.com/maps/api" />
    <add key="UseSSL" value="false" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>