<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ApiKey" value="AIzaSyDA_nYjDQYKHNDMIE3HpRXtxDOU-Cpuqnc" />
    <add key="BaseUrl" value="http://maps.googleapis.com/maps/api" />
    <add key="UseSSL" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDistanceMatrixService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63204/DistanceMatrixService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistanceMatrixService"
        contract="DistanceMatrixService.IDistanceMatrixService" name="BasicHttpBinding_IDistanceMatrixService" />
    </client>
  </system.serviceModel>
</configuration>