<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Directions_ApiKey" value="AIzaSyDZOqNzzDPxDeXZuYpnCk6xuwSHVfkJGds" />
    <add key="DistanceMatrix_ApiKey" value="AIzaSyDA_nYjDQYKHNDMIE3HpRXtxDOU-Cpuqnc" />
    <add key="Elevation_ApiKey" value="AIzaSyDpD_Pg4DvtWkqVl-73I0UC68jAzL0xKuQ" />
    <add key="Timezone_ApiKey" value="AIzaSyAjsAE4p8YGD6u2BwAshpQbWlmZ2-iJB8E" />
    <add key="BaseUrl" value="http://maps.googleapis.com/maps/api" />
    <add key="UseSSL" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGoogleApiService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63204/GoogleApiService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGoogleApiService"
        contract="GoogleApiService.IGoogleApiService" name="BasicHttpBinding_IGoogleApiService" />
    </client>
  </system.serviceModel>
</configuration>