<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Directions_ApiKey" value="AIzaSyDZOqNzzDPxDeXZuYpnCk6xuwSHVfkJGds" />
    <add key="DistanceMatrix_ApiKey" value="AIzaSyDA_nYjDQYKHNDMIE3HpRXtxDOU-Cpuqnc" />
    <add key="Elevation_ApiKey" value="AIzaSyDpD_Pg4DvtWkqVl-73I0UC68jAzL0xKuQ" />
    <add key="Timezone_ApiKey" value="AIzaSyAjsAE4p8YGD6u2BwAshpQbWlmZ2-iJB8E" />
    <add key="Geocode_ApiKey" value="AIzaSyA91xV-o11pgo4daTEdguFZq0Hym0xIA7w" />
    <add key="Geolocation_ApiKey" value="AIzaSyCHflhzlkdVm1d-t9e_ZWlA5iJ29gWW8a8" />
    <add key="BaseUrl" value="http://maps.googleapis.com/maps/api" />
    <add key="UseSSL" value="true" />
    <add key="Bing_ApiKey" value="JxtgkMLvE27VDN85nA0c~QDrVP0RvY9I-fvHT-gtQCA~Arc_rEZhwGeJs0Hl2IowFxWxxjiqkdi1SPZN7pGZU2n7lYE6ZR2iY2E8FPUMVVUw" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITravelApiService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63204/TravelApiService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITravelApiService"
        contract="TravelApiService.ITravelApiService" name="BasicHttpBinding_ITravelApiService" />
    </client>
  </system.serviceModel>
</configuration>